<div class="main">
  <ng-container *ngIf="currencies$ | async as currencies; else loadingData">
    <app-currency-input
      [currencies]="currencies"
      [amount]="amountFrom"
      [selectedCurrency]="currencyFrom"
      (handleChange)="onCurrencyInputChangeFrom($event)"></app-currency-input>
  </ng-container>
  <app-button (buttonClicked)="onButtonSwapClick()"></app-button>
  <ng-container *ngIf="currencies$ | async as currencies; else loadingData">
    <app-currency-input
      [currencies]="currencies"
      [amount]="amountTo$ | async"
      [selectedCurrency]="currencyTo"
      (handleChange)="onCurrencyInputChangeTo($event)"></app-currency-input>
  </ng-container>
</div>

<ng-template #loadingData>Loading data...</ng-template>
