<p-dropdown
  [options]="options"
  [(ngModel)]="selected"
  optionLabel="value"
  [filter]="true"
  filterBy="value"
  [showClear]="true"
  (onChange)="onItemSelected(selected)"
  placeholder="Please, select a currency">
  <ng-template let-selectedValue pTemplate="selectedItem">
    <div class="flex align-items-center gap-2">
      <div
        class="currency-flag"
        [class]="'currency-flag-' + selectedValue.value.toLowerCase()"></div>
      <div>{{ selectedValue.value }} - {{ selectedValue.label }}</div>
    </div>
  </ng-template>
  <ng-template let-currency pTemplate="item">
    <div class="flex align-items-center gap-2">
      <div
        class="currency-flag"
        [class]="'currency-flag-' + currency.value.toLowerCase()"></div>
      <div>{{ currency.value }} - {{ currency.label }}</div>
    </div>
  </ng-template>
</p-dropdown>
